.cart {
    margin: 100px 0;
    .items {
        .title {
            display: grid;
            grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
            align-items: center;
            color: grey;
            font-size: max(1vw, 13px);
        }
        .item {
            margin: 10px 0px;
            color: black;
            img {
                width: 50px;
            }
            .cross {
                cursor: pointer;
            }

            .cal {
                display: flex;
                align-items: center;
                gap: 12px;

                span {
                    border: 2px solid #ccc;
                    padding: 5px 5px;
                    cursor: pointer;
                    &:hover {
                        background-color: tomato;
                        color: #fff;
                    }
                }
            }
        }

        hr {
            height: 1px;
            background-color: #e2e2e2;
            border: none;
        }
    }
    .bottom {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        gap: max(12vw, 20px);

        .total {
            font-size: 13px;
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 20px;

            h2 {
                font-size: 20px;
            }

            .details {
                display: flex;
                justify-content: space-between;
                color: #555;
            }

            hr {
                margin: 10px 0px;
            }
            button {
                color: white;
                background-color: tomato;
                width: max(15vw, 200px);
                padding: 12px 0px;
                border-radius: 4px;
                cursor: pointer;
            }
        }
        .promocode {
            p {
                font-size: 13px;
                color: #555;
            }

            .input {
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #eaeaea;
                border-radius: 4px;

                input {
                    background: transparent;
                    border: none;
                    outline: none;
                    padding-left: 10px;
                }

                button {
                    width: max(10vw, 150px);
                    padding: 12px 5px;
                    background-color: black;
                    border: none;
                    color: white;
                    border-radius: 4px;
                }
            }
        }
    }
    @media (max-width: 750px) {
        .bottom {
            flex-direction: column;
        }
        .promocode {
            justify-content: start;
        }
    }
}
